.crypto-main-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;
}

.crypto-section-wrapper {
    width: 80%;
    gap: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crypto-section-wrapper h1 {
    width: 100%;
}

.crypto-contenten-wrapper {
    display: flex;
    gap: 30px;
}

.crypto-img-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.crypto-img-wrapper img {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.crypto-widgetWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.market-quotes-widget {
    width: 100%;
    display: flex;
    padding: 20px;
}

@media screen and (max-width:900px) {
    .crypto-section-wrapper h1 {
        width: 100%;
        font-size: 30px;
        display: flex;
    }

    .crypto-section-1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .crypto-section-wrapper {
        width: 90%;
        gap: 40px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .crypto-contenten-wrapper {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .crypto-img-wrapper img {
        margin: auto;
        display: flex;
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}