.loginWrapper {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.l-backgroundImage {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.backgroundVideo {
    width: 100%;
    height: 100%;
    display: flex;
}

.l-video {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

.l-videoOvalay {
    display: flex;
    /* background-color: black; */
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background:
        linear-gradient(to bottom right, rgba(0, 0, 0, 0.247), #000000);
}

.l-video source {
    width: 100%;
    object-fit: cover;
}

.l-loginForm {
    color: white;
    /* background-color: red; */
    padding: 5% 10%;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    display: flex;
}

.l-siteWriteUp {
    display: flex;
    gap: 30px;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.l-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.l-siteWriteUp h1 {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    border-right: 3px solid teal;
    padding-right: 10px;
}

.l-siteWriteUp p {
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
}

.l-sponsors {
    width: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    gap: 20px;
}

.l-sponsors img {
    flex: 1;
    height: 100%;
    display: flex;
    margin: auto;
    object-fit: contain;
}

.l-formWrapper {
    background-color: rgba(54, 54, 54, 0.568);
    backdrop-filter: blur(5px);
    /* border: 1px solid white; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    color: black;
    gap: 20px;
    padding: 0px 5%;
}

.l-formWrapper .loginHeader {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

.email,
.password {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.email label,
.password label {
    display: flex;
    color: white;
    font-weight: bold;
}

.loginInput {
    padding: 10px;
    display: flex;
    margin: auto;
    width: 100%;
    border: none;
    border-radius: 0px 10px 0px 10px;
    border-bottom: 1px solid white;
    border-left: 2px solid white;
    color: black;
    outline: none;
}

.loginBtnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtnWrapper button {
    display: flex;
    border: none;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;

    border-image: linear-gradient(to right, lightgreen, teal);
    border-image-slice: 1;
    background-color: transparent;
    position: relative;

    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
}

.loginBtnWrapper button h3 {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    transition: 500ms all ease;
    background-clip: text;
    color: transparent;
    padding: 5px 50px;
    z-index: 1;
}

.loginBtnWrapper button h3:hover {
    color: white;
}

.loginBtnWrapper button::before {
    width: 5%;
    content: "";
    z-index: - 1;
    height: 100%;
    position: absolute;
    transition: 500ms all ease;
    background: linear-gradient(to right, lightgreen, teal);
}

.loginBtnWrapper button:hover:before {
    width: 100%;
}

.otherEntries {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 10px;
}

.forgetPass {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.forgetPass button {
    border: none;
    cursor: pointer;
    transition: 350ms all ease;
    color: rgb(199, 199, 199);
    background-color: transparent;
}

.forgetPass button:hover {
    color: white;
}

.L-hr {
    height: 1PX;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, lightgreen, teal);
}

.googleAuth {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
}

.googleAuth button {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 5px 15px;
    display: flex;
    border: none;
    gap: 10px;
    margin: auto;
    cursor: pointer;
    color: rgb(247, 247, 247);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: 500ms all ease;
}

.googleAuth button:hover {
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
}

.createAcct {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.createAcct .createAcctBtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.createAcct .createAcctBtn p {
    font-size: 12px;
}

@media screen and (max-width:900px) {
    .loginWrapper {
        background-color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        height: 100vh;
    
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .l-loginForm {
        color: white;
        /* background-color: red; */
        padding:5% 2%;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        display: flex;
        flex-direction: column-reverse;
    }

    .l-siteWriteUp {
        display: flex;
        gap: 30px;
        width: 95%;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin: auto;
    }

    .l-sponsors {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        /* background-color: blueviolet; */
        gap: 10px;
    }

    .l-sponsors img {
        /* flex: 1; */
        width: 100%;
        height: 30px;
        display: flex;
        margin: auto;
        object-fit: contain;
    }

    .l-formWrapper {
        background-color: rgba(54, 54, 54, 0.568);
        backdrop-filter: blur(5px);
        /* border: 1px solid white; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: center;
        align-items: flex-start;
        color: black;
        gap: 20px;
        padding: 0px 5%;
    }



}