* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.navWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    z-index: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    margin-top: 20px;

    backdrop-filter: blur(5px);
}

.Mobile-logoWrapper,
.logoWrapper {
    padding: 0px 10px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;
    width: auto;
    text-decoration: none;

}

.logoWrapper img {
    background-color: #7c5dc9;
    border-radius: 50%;

}

.logoHeader {
    text-decoration: none;
    font-weight: medium;
    font-family: 'Telma', cursive;
    color: white;
    text-transform: capitalize;


    background: linear-gradient(90deg, skyblue, #7c5dc9);
    /* your gradient colors */
    -webkit-background-clip: text;
    /* Safari/Chrome */
    -webkit-text-fill-color: transparent;
    /* Safari/Chrome */
    background-clip: text;
    /* Firefox */
    color: transparent;
    /* fallback for older browsers */
}


.logo {
    width: auto;
    object-fit: contain;
    height: 100%;
}

.linksWrapper {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    height: 100%;
}

.parentSubLinks {
    position: relative;
    height: 100%;
}

.sublinksHeader {
    font-size: 12px;
    font-weight: bold;

    color: #fff;
    width: 100%;
    height: auto;



    padding: 10px;
    display: flex;

    justify-content: center;
    align-items: center;

    margin: auto;
    cursor: pointer;
    border: none;

    background-color: #7c5dc942;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.sublinks {
    padding: 10px 20px;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    gap: 12px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;

}

.sublink {
    font-size: 12px;
    color: #585858;
    width: auto;
    text-decoration: none;
    text-align: left;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 5px;


}

.sublink:before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #2b2b2b;
    transition: all 500ms ease;
}

.sublink:hover::before {
    width: 100%;
}

.aboutLink,
.insightLink {
    width: auto;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    flex-direction: column;

    background-color: #7c5dc942;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.aboutLink::before,
.insightLink::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #ffffff;
    transition: all 500ms ease;

}

.aboutLink:hover::before,
.insightLink:hover::before {
    width: 100%;
}

.authBtns {
    display: flex;
    flex: .4;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 10px 10px;
    gap: 10px;
}

.authBtns .loginBtn,
.authBtns .signupBtn {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    align-items: center;
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 5px 20px;
    background-color: transparent;
}


.loginBtn,
.signupBtn {
    transition: all 500ms ease;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    position: relative;
    font-weight: bold;
}

.loginBtn::before,
.signupBtn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    display: flex;
    z-index: -1;
    transition: 500ms all ease;
    background-color: white;
}

.loginBtn:hover::before,
.signupBtn:hover::before {
    width: 100%;
    color: #7c5dc9;
}


.loginBtn:hover,
.signupBtn:hover {
    color: #7c5dc9;
}

.greaterThan {
    display: flex;
    padding: 0px 10px;
}


.nav-burgerBtn {
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: auto;
    position: fixed;
    width: 100%;
    padding: 20px 20px 0px 0px;
}

.Mobile-logoWrapper {
    display: none;
}

.burgerBtn {
    cursor: pointer;
    width: 40px;
    height: 60px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
}

.burgerBtn::before {
    transition: 500ms all ease;
    content: "";
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 3px;

}

.burgerBtn::after {
    transition: 500ms all ease;
    content: "";
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 3px;

}

/* -----------------------------------  */
.burgerBtnAni {
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 60px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
}

.burgerBtnAni::before {
    transition: 500ms all ease;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
}

.burgerBtnAni::after {
    transition: 500ms all ease;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
}



/* -----------------------------  */

.nav-mobile-Wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    background-color: #0b1120;
    top: 0px;
    right: 0px;
    padding: 20px;
    padding-top: 120px;
    justify-content: flex-start;
    align-items: flex-end;
    transition: 500ms all ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-mobile-WrapperAni {
    transition: 500ms all ease;
    transform: translateX(100%);
}

.nav-mobile-links-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.mobileLinkWrapper {
    display: flex;
    font-weight: medium;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.nav-sub-Link {
    text-decoration: none;
}

.mobile-insightLink,
.mobile-aboutLink {
    width: 100%;
    text-decoration: none;
}


.mobile-aboutLink,
.nav-sub-Link,
.mobile-insightLink {
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;
}

.nav-burgerBtn {
    display: none;
}

.nav-mobile-Wrapper {
    display: none;
}

@media screen and (max-width: 900px) {
    .navWrapper {
        display: none;
    }

    .nav-mobile-Wrapper {
        display: flex;
    }

    .nav-burgerBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        width: 90%;
        margin-top: 20px;
        align-self: center;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.356);

        border-radius: 20px;

    }

    .Mobile-logoWrapper {
        display: flex;
        height: 50px;
        width: 100%;
        left: 0px;
        align-items: center;
        text-decoration: none;

        justify-content: space-between;
    }

    .Mobile-logoWrapper .logo {
        height: 100%;
        width: auto;
    }

    .Mobile-logoWrapper .logoHeader {
        margin: auto;
    }
}