.plan-main-wrapper {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.p-padding-top {
    margin: auto;
    padding-top: 10%;
}

.promoImageWrapper {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.promoImageWrapper img {
    width: 100%;
    display: flex;
    height: auto;
    object-fit: contain;
}