.pri-mainWrapper {
    gap: 20px;
    flex-direction: column;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.priv-SectionWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.private-imageHeader-wrapper {
    display: flex;
    margin: auto;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.private-imageHeader-wrapper img {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    object-fit: cover;
}

.private-writeup-section1Wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.private-getStarted-Btn {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    /* background-color: red; */
}

.private-getStarted-Btn .pri-getStartedBtn {
    display: flex;
    background-color: transparent;
    border: none;
    overflow: hidden;
    border-bottom: 1px solid black;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.private-getStarted-Btn .pri-getStartedBtn::before {
    content: "";
    width: 5%;
    height: 100%;
    position: absolute;
    background-color: black;
    transition: 500ms all ease;

}

.private-getStarted-Btn .pri-getStartedBtn:hover::before {
    color: white;
    width: 100%;
}

.private-getStarted-Btn .pri-getStartedBtn h3 {
    height: 100%;
    width: 100%;
    padding: 5px 40px;
    transition: 500ms all ease;
    z-index: 1;
    color: black;
}

.private-getStarted-Btn .pri-getStartedBtn h3:hover {
    color: white;
}