.signupWrapper {
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s-backgrounmainimage {
    height: 100%;
    width: "100%";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.s-backgrounmainimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.formWrapper {
    z-index: 1;
    height: 100%;
    flex: 1;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.formContainer {
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #00000044;
    backdrop-filter: blur(5px);
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.555);
}

.userNames {
    display: flex;
    gap: 10px;
}

.s-firstName,
.s-lastName,
.s-Email,
.s-country,
.s-state,
.s-password,
.s-confirmPassword {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    gap: 5px;
    z-index: 1;
}

label {
    font-weight: bold;
    font-size: 12px;
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

select {
    padding: 5px;
    border-radius: 5px;
}

.s-TcWrapper {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 12px;
}

.s-TcWrapper span {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.s-tcLinkBtn {
    text-decoration: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    transition: 350ms all ease;
    padding: 5px;
}

.s-tcLinkBtn:hover {
    color: aqua;
}

.s-SignUpBtn {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 10px;
}

.s-SignUpBtn button {
    padding: 10px;
    font-weight: bold;
    transition: 500ms all ease;

    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, lightgreen, teal);
    border-image-slice: 1;
    cursor: pointer;
}

.s-SignUpBtn button:hover {
    background-color: rgb(28, 53, 49);
}

.s-SignUpBtn button h3 {
    background: linear-gradient(to right,
            teal, lightgreen);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.s-LoginWrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    font-size: 12px;
}

.s-tcLoginBtn {
    color: aquamarine;
    padding: 5px;
}

.s-dashWriteUp {
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5%;
    color: white;
    display: flex;
    width: 50%;
    /* background-color: red; */
}

.s-dashWriteUp span {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media screen and (max-width:900px) {
    .signupWrapper {
        background-color: rgba(0, 0, 0, 0.685);
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .s-dashWriteUp {
        z-index: 1;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        color: white;
        display: flex;
        width: 100%;
    }

    .s-dashWriteUp h1 {
        width: 100%;
        height: auto;
        display: flex;
        font-size: 25px;
        text-align: center;
        margin: auto;
    }

    .formWrapper {
        z-index: 1;
        height: auto;
        width: 100%;
        flex: 1;
        gap: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    .formContainer {
        border-radius: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        padding: 5%;
        width: 90%;
        background-color: #00000044;
        backdrop-filter: blur(2px);
        backdrop-filter: unset;
        box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.555);
    }

    .userNames {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

}