.hamburgerBtn-wrapper {
    display: flex;
    height: 50px;
    width: 50px;
    top: 20px;
    position: absolute;
    transform: translateX(100%);
    background-color: #7c5dc9;
}


.hamburgerBtn-wrapper .hamburgerBtn {

    display: flex;
    margin: unset;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
}

.dash-btn-line1,
.dash-btn-line2,
.dash-btn-line3 {
    width: 80%;
    height: 2px;
    display: flex;
    background-color: white;
    position: absolute;

    transition: 350ms all ease-in-out;
}

.dash-btn-line1 {
    top: 15px;
}

.dash-btn-line3 {
    bottom: 15px;
}

.dash-btn-line1-anim {
    transform: rotate(45deg);
    top: unset;

}

.dash-btn-line2-anim {
    transform: translateX(-150%);
}

.dash-btn-line3-anim {
    transform: rotate(-45deg);
    bottom: unset;
}

@media screen and (max-width:900px) {
    .hamburgerBtn-wrapper {
        display: flex;
        height: 50px;
        width: 50px;
        top: 50px;
        position: absolute;
        transform: translateX(100%);
        background-color: #7c5dc9;
        border-radius: 0px 10px 10px 0px;
     }
}