  .hamburgerBtn-wrapper {
      display: none;
  }

  @media screen and (max-width:900px) {

      .hamburgerBtn-wrapper {
          display: flex;
          transition: all 500ms ease;
      }

      .hamburgerBtn-wrapper {
          justify-content: flex-start;
          align-items: center;
          display: flex;
          margin: unset;
          height: 100%;
          width: 100%;
          padding: 10px;
          flex: 1;
      }

      .hamburgerBtn-wrapper .hamburgerBtn {

          display: flex;
          margin: unset;
          height: 50px;
          width: 50px;
          gap: 20px;
          border: none;
          cursor: pointer;
          position: relative;
          align-items: center;
          justify-content: center;
          transition: 500ms all ease;
          background: transparent;


      }

      .hamburgerBtn-wrapper .hamburgerBtn::before {
          content: "";
          height: 3px;
          width: 50px;
          display: flex;
          background-color: white;
          position: absolute;
          top: 15px;
      }

      .hamburgerBtn-wrapper .hamburgerBtn::after {
          bottom: 15px;
          content: "";
          height: 3px;
          width: 50px;
          display: flex;
          background-color: white;
          position: absolute;
      }

      .hamburgerBtnIsActive {
          display: flex;
          margin: unset;
          height: 50px;
          width: 50px;
          gap: 20px;
          border: none;
          cursor: pointer;
          position: relative;
          align-items: center;
          justify-content: center;
          transition: 500ms all ease;
          background: transparent;

      }

      .hamburgerBtnIsActive::before {
          content: "";
          height: 3px;
          width: 50px;
          display: flex;
          position: absolute;
          margin: auto;
          transform: rotate(45deg);
          background-color: white;
      }

      .hamburgerBtnIsActive::after {
          margin: auto;
          content: "";
          height: 3px;
          width: 50px;
          display: flex;
          position: absolute;
          transform: rotate(-45deg);
          background-color: white;
      }
  }