.hamburgerBtn-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
    height: 100%;
    width: auto;
}

.hamburgerBtn-wrapper button {
    display: flex;
    margin: auto;
    height: 50px;
    width: 50px;
    gap: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 500ms all ease;
}

@media screen and (max-width:900px) {
    .hamburgerBtn-wrapper {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin: unset;
        height: 100%;
        width: 100%;
        padding: 10px;
        flex: 1;
    }

    .hamburgerBtn-wrapper button {
        display: flex;
        margin: unset;
        height: 50px;
        width: 50px;
        gap: 20px;
        border: none;
        cursor: pointer;
        position: relative;
        align-items: center;
        justify-content: center;
        transition: 500ms all ease;
        background-color: lightpink;
    }
}