.dashnav-main-wrapper {
    flex: .2;
    width: auto;
    position: relative;
    height: 100%;
}

.dashNav-section-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    position: relative;
    color: white;
    padding: 20px 10px;
    align-items: center;
    background-color: rgb(27, 38, 58);
    justify-content: space-between;
    flex-direction: column;
}

.dashnav-main-wrapper h2 {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dashNavLink-Section-Wrapper {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashNavLink-Section-Wrapper .dn-link {
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: lightgray;
}

.dashnav-main-wrapper p {
    font-size: 12px;
}

.dashNav-state {
    position: fixed;
}

@media screen and (max-width:900px) {
    .dashnav-main-wrapper {
        flex: .2;
        width: auto;
        position: fixed;
        height: 100%;
        padding-top: 80px;
        background-color: green;
    }

    .dashNav-section-wrapper {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin: auto;
        height: 100vh;
        position: relative;
        color: white;
        padding: 20px 10px;
        align-items: center;
        background-color: rgb(27, 38, 58);
        justify-content: space-between;
        flex-direction: column;
    }
}