.dashnav-main-wrapper {
    width: 20%;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    background-color: #070b15;

    transition: 350ms all ease-in-out;
    transform: translateX(0%);

}

.isDashActive {
    transform: translateX(-100%);
}

.dashNav-section-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}

.dashnav-main-wrapper h2 {
    background: linear-gradient(to bottom right, #b8a4eb, #7c5dc9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dashNavLink-Section-Wrapper {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashNavLink-Section-Wrapper .dn-link {
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: lightgray;
}

.dashnav-main-wrapper p {
    font-size: 10px;
    text-align: center;
}

.handleBurgerBtn {
    display: flex;
    position: absolute;
    width: 0px;
    height: 100px;
    right: 0px;
    justify-content: flex-end;
}

@media screen and (max-width:900px) {
    .dashnav-main-wrapper {
        width: 70%;
    }
}