.dashnav-main-wrapper {
    flex: .2;
    width: auto;
    position: relative;
    height: 100%;
 }

.dashNav-section-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    position: relative;
    color: white;
    padding: 20px 10px;
    align-items: center;
    background-color: rgb(27, 38, 58);
    justify-content: space-between;
    flex-direction: column;  
}

.dashnav-main-wrapper h2 {
    background: linear-gradient(to right, lightgreen, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dashNavLink-Section-Wrapper {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashNavLink-Section-Wrapper .dn-link {
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: lightgray;
}

.dashnav-main-wrapper p {
    font-size: 12px;
}

.dashNav-state {
    position: fixed;
}

@media screen and (max-width:900px) {
    .dashnav-main-wrapper {
        flex: 1;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        transition: all 500ms ease;
        z-index: 1;
    }

    .isDashActive {
        transform: translateX(-100%);
    }

    .dashNav-section-wrapper {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin: unset;
        height: 100vh;
        position: relative;
        color: white;
        padding: 20px 5px;
        padding-bottom: 30px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    .dashNav-section-wrapper h2 {
        display: none;
    }

    .dashNavLink-Section-Wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .dashNavLink-Section-Wrapper .dn-link {
        text-decoration: none;
        display: flex;
        gap: 10px;
        color: lightgray;
        font-size: 20px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }
}