.dash-headerNav-section-wrapper {
    background: linear-gradient(to bottom right, rgb(53, 82, 82), rgb(15, 20, 48));
    display: flex;
    margin: auto;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

}

.dash-headerNav-section-container {
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.hn-balance-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.hn-b-wrapper {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 3px 10px;
    border-radius: 5px;
}

.hn-b-wrapper p {
    text-transform: capitalize;
    font-weight: 500;
    color: teal;
}

.hn-b-wrapper h5 {
    display: flex;
    gap: 5px;
    color: rgb(19, 179, 67);
}

span {
    color: gray;
}

.hn-b-wrapper-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.hn-b-wrapper-name p {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.hn-b-image-wrarpper {
    height: 50px;
    width: 50px;
    display: flex;
    background-color: gray;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hn-b-image-wrarpper img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    object-fit: cover;
}

.dash-headerNav-section-wrapper h2 {
    display: none;
}

@media screen and (max-width:900px) {
    .dash-headerNav-section-wrapper {
        background: linear-gradient(to bottom right, rgb(53, 82, 82), rgb(15, 20, 48));
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
        padding: 10px;

    }

    .dash-headerNav-section-container {
        height: 100%;
        width: 100%;
        padding: 10px 0px;
        gap: 10px;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }

    .hn-balance-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
    }

    .hn-b-wrapper {
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 3px 10px;
        border-radius: 5px;
        width: 100%;
    }

    .hn-b-wrapper-name {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        width: 100%;
        /* flex: 1; */
    }


    .dash-headerNav-section-wrapper h2 {
        background: linear-gradient(to right, lightgreen, teal);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: flex;
    }
}