/* TransactionHistory.css */

.transaction-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: red;
    background-color: transparent;

}

.transaction-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    width: 100%;
    color: teal;
}

th {
    background-color: #f2f2f2;
}

tr {
    display: flex;
    padding: unset;
    height: auto;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #ebe9e9;
}