/* TransactionHistory.css */

.transaction-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    position: relative;

    /* display: none; */

}

.transaction-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    width: 100%;
    color: teal;
}

th {
    background-color: #f2f2f2;
}

tr {
    display: flex;
    padding: unset;
    height: auto;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #ebe9e9;
}

.transaction-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ivory;
    height: 100%;
    border-radius: 10px;
    gap: 20px;
}

.transaction-report-image-wrapper {
    /* flex: .4; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-report-error-icon {
    display: flex;
    color: gray;
    margin: auto;
}

.transaction-report h3 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0px 30px;
    color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
}