.deposit-main-wrapper {
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.deposit-section-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    height: 100%;
    width: 100%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    padding-bottom: 5rem;
    /* background-color: aqua; */
    overflow-y: scroll;
}

.deposit-main-wrapper hr {
    background-color: darkslategray;
    border: none;
    width: 100%;
    height: 1px;
    display: flex;
    margin: auto;
}

.deposit-instruction-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    /* background-color: pink; */
}

.deposit-instruction-wrapper h4 {
    color: rgb(46, 46, 46);
    font-weight: normal;
}

.deposiit-rule-list-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 80%;
}

.deposiit-rule-list-wrapper ol {
    flex-direction: column;
    display: flex;
    gap: 5px;
    width: 100%;
    color: rgb(80, 80, 80);
}

.deposiit-rule-list-wrapper ol li {
    font-size: 12px;
}

/* -------------------------------------------- */

.deposit-section-crypto-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    /* background-color: orangered; */
}


.deposit-section-crypto-types .transaction-cointype-wrapper {
    height: 150px;
    width: 150px;
    gap: 20px;
    border: none;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background: transparent;

}

.deposit-section-crypto-types .transaction-cointype-wrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    position: absolute;
    margin: auto;
    border: none;
}

.transact-wallet-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.transact-wallet-button-wrapper .transact-page-button-navigator {
    background-color: transparent;
    border-radius: unset;
    /* font-weight: bold; */
    border-bottom: 1px solid black;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border: none;
    display: flex;
    color: gray;
}

.transfer-input-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.transact-wallet-input-wrapper {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;

    border: 1px solid;
    border-image: linear-gradient(to right, teal, rgb(35, 121, 17));
    border-image-slice: 1;
}

.transact-wallet-input-wrapper h3 {
    padding-left: 10px;
    display: flex;
    margin: auto;
    height: auto;
    color: gray;
    font-size: 15px;
    align-items: center;
}

.transact-wallet-input-wrapper input {
    display: flex;
    font-size: 15px;
    border-radius: 0px;
    outline: 0px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    height: 50px;
    color: gray;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
}

.transact-wallet-input-wrapper button {
    border: none;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition: all ease 350ms;
}

.transact-wallet-input-wrapper button:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}

.coin-type-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}

.coin-type-wrapper h4 {
    display: flex;
    height: 100%;
}

.coin-type-wrapper .coin-type-image-wrapper {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.coin-type-wrapper .coin-type-image-wrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
}

/* _______________________________________________ */

.transaction-receipt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

.transaction-receipt-container-rate {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
}

.transact-receipt-crypto-image-wrapper {
    background-color: blue;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.transaction-receipt-container p {
    text-align: center;
    display: flex;
    width: 100%;
    padding: 5px;
    background-color: white;

}