.deposit-main-wrapper {
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
}

.deposit-section-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    height: auto;
    width: 100%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    padding-bottom: 5rem;
}

.deposit-main-wrapper hr {
    background-color: darkslategray;
    border: none;
    width: 100%;
    height: 1px;
    display: flex;
    margin: auto;
}

.deposit-instruction-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    /* background-color: pink; */
}

.deposit-instruction-wrapper h4 {
    color: rgb(46, 46, 46);
    font-weight: normal;
}

.deposiit-rule-list-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 80%;
}

.deposiit-rule-list-wrapper ol {
    flex-direction: column;
    display: flex;
    gap: 5px;
    width: 100%;
    color: rgb(80, 80, 80);
}

.deposiit-rule-list-wrapper ol li {
    font-size: 12px;
}

/* -------------------------------------------- */

.deposit-section-crypto-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    /* background-color: orangered; */
}


.deposit-section-crypto-types .transaction-cointype-wrapper {
    height: 200px;
    width: 200px;
    gap: 20px;
    border: none;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent;

}

.deposit-section-crypto-types .transaction-cointype-wrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    position: relative;
    margin: auto;
    border: none;
}

.transact-wallet-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.transact-wallet-button-wrapper .transact-page-button-navigator {
    background-color: transparent;
    border-radius: unset;
    /* font-weight: bold; */
    border-bottom: 1px solid black;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border: none;
    display: flex;
    color: gray;
}

.transfer-input-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.transact-wallet-input-wrapper {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;

    border: 1px solid;
    border-image: linear-gradient(to right, teal, rgb(35, 121, 17));
    border-image-slice: 1;
}

.transact-wallet-input-wrapper h3 {
    padding-left: 10px;
    display: flex;
    margin: auto;
    height: auto;
    color: gray;
    font-size: 15px;
    align-items: center;
}

.transact-wallet-input-wrapper input {
    display: flex;
    font-size: 15px;
    border-radius: 0px;
    outline: 0px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    height: 50px;
    color: gray;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
}

.transact-wallet-input-wrapper button {
    border: none;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition: all ease 350ms;
    background: transparent;
}

.transact-wallet-input-wrapper button:hover {
    background-color: rgb(100, 100, 100);
    color: white;
    height: 100%;
}

.coin-type-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}

.coin-type-wrapper h4 {
    display: flex;
    height: 100%;
}

.coin-type-wrapper .coin-type-image-wrapper {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.coin-type-wrapper .coin-type-image-wrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
}

/* _______________________________________________ */

.transaction-receipt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.transaction-receipt-container-rate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.transac-address-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.transac-address-wrapper-link {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    justify-items: center;
    align-items: center;
    margin: auto;
    color: teal;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.transac-address-wrapper button {
    transition: all 500ms easae;
    width: 70px;
    height: 100%;
    border: none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}

.transact-wallet-address-barcode {
    height: auto;
    width: auto;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.transact-wallet-address-barcode img {
    height: 150px;
    width: 150px;
    display: flex;
    object-fit: cover;
}

.transaction-receipt-container .transact-note {
    text-align: center;
    display: flex;
    width: auto ;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 173, 252);
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;

}


.transaction-receipt-container hr {
    border: none;
    height: 1px;
    width: 100%;
    display: flex;
}

.transact-receipt-crypto-destails-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    padding: 10px;
    height: auto;
    width: 100%;
    gap: 15px;

}

.transact-receipt-crypto-destails-wrapper hr {
    border: none;
    display: flex;
    height: 1px;
    background-color: #969696;
}

.reciept-info-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.reciept-info-section p {
    display: flex;
    font-size: 13px;
}