.deposit-main-wrapper {
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
}

.deposit-section-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    height: auto;
    width: 100%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    padding-bottom: 5rem;
}

.deposit-main-wrapper hr {
    background-color: darkslategray;
    border: none;
    width: 100%;
    height: 1px;
    display: flex;
    margin: auto;
}

.deposit-instruction-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    /* background-color: pink; */
}

.deposit-instruction-wrapper h4 {
    color: #7c5dc9;
    font-weight: normal;
}

.deposit-rule-list-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 80%;
}

.deposit-rule-list-wrapper ol {
    flex-direction: column;
    display: flex;
    gap: 5px;
    width: 100%;
    color: rgb(80, 80, 80);
}

.deposit-rule-list-wrapper ol li {
    font-size: 12px;
}

/* -------------------------------------------- */

.deposit-section-crypto-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}


.deposit-section-crypto-types .transaction-cointype-wrapper {
    height: 200px;
    width: 200px;
    gap: 20px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;


}


.deposit-section-crypto-types .transaction-cointype-wrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    position: relative;

}

.deposit-section-crypto-types .transaction-cointype-wrapper .imageError {
    height: 100%;
    width: 100%;
    display: none;
    object-fit: cover;
    position: relative;
}

.transact-wallet-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.transact-wallet-button-wrapper .transact-page-button-navigator {
    background-color: transparent;
    border-radius: unset;
    /* font-weight: bold; */
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border: none;
    display: flex;
    color: gray;
}

.transfer-input-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.transact-wallet-input-wrapper {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid;
    border-image: linear-gradient(to right, teal, #7c5dc9);
    border-image-slice: 1;
}

.border {
    border: 1px solid;
    border-image: linear-gradient(to right, orange, red);
    border-image-slice: 1;

}

.transact-wallet-input-wrapper h3 {
    padding-left: 10px;
    display: flex;
    margin: auto;
    height: auto;
    color: #fff;
    font-size: 15px;
    align-items: center;
}

.transact-wallet-input-wrapper input::placeholder {
    color: #fff;
}

.transact-wallet-input-wrapper input {
    border-radius: 0px;
    padding-left: 10px;
    display: flex;
    outline: 0px;
    border: none;
    padding: 5px;
    width: 100%;
    height: 60px;
    flex: 1;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    background: transparent;
    justify-content: flex-start;
}

.transact-wallet-input-wrapper button {
    font-weight: bold;
    border: none;
    height: 60px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: #7c5dc9;
}

.transact-wallet-input-wrapper button:hover {
    transition: all ease 350ms;
    color: #7c5dc9;
    background-color: white;
}

.coin-type-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}

.coin-type-wrapper h4 {
    display: flex;
    height: 100%;
}

.coin-type-wrapper .coin-type-image-wrapper {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.coin-type-wrapper .coin-type-image-wrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
}

/* _______________________________________________ */

.transaction-receipt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.transaction-receipt-container-rate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.transac-address-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    backdrop-filter: blur(5px);

    box-shadow: 1px 0px 5px 2px #7c5dc9;
}

.transac-address-wrapper-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    margin: auto;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.copyBtnWrapper {
    display: flex;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.transaction-receipt-container .transact-note {
    text-align: center;
    display: flex;
    width: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.418);

    color: #fff;
    font-size: 10px;
    font-weight: bold;

    text-align: center;
    align-items: center;
    justify-content: center;

}


.transaction-receipt-container hr {
    border: none;
    height: 1px;
    width: 100%;
    display: flex;
}

.transact-receipt-crypto-destails-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    padding: 10px;
    height: auto;
    width: 100%;
    gap: 15px;

}

.transact-receipt-crypto-destails-wrapper hr {
    border: none;
    display: flex;
    height: 1px;
    background-color: #969696;
}

.reciept-info-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.reciept-info-section p {
    display: flex;
    font-size: 13px;
}

.tansact-reciept-footer {
    background-color: black;
    border-radius: 10px;
}

.tansact-reciept-footer p {
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 100%;

}

.tansact-reciept-footer p {

    /* background-color: black; */
    justify-content: center;
    align-items: flex-end;
    display: flex;
    height: auto;
    width: 100%;
    gap: 10px;
    padding: 20px;

    cursor: pointer;
}

.tansact-reciept-footer p span {
    font-size: 20px;
    padding: 0px 10px;
}

.coin-symbol {
    font-weight: bold;
    color: teal;
    font-size: 100px;

}

.depositValue {
    font-weight: bold;
    color: #7c5dc9;
    font-size: 40px;
    line-height: normal;
    position: relative;
}


.completPaymentBtn {
    display: flex;
    padding: 20px;
    margin: 30px 0px;
}

.completPaymentBtn button {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 'Courier New', Courier, monospace;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: none;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    transition: 0.6s;
    box-shadow: 0px 10px 50px rgb(158, 236, 1);
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}


.completPaymentBtn button:active {
    scale: 0.92;
}


.completPaymentBtn button:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

@media screen and (max-width:900px) {
    .deposit-section-crypto-types .transaction-cointype-wrapper {
        height: 80px;
        width: 80px;
        gap: 10px;
    }


    .transact-wallet-input-wrapper {
        width: 100%;

    }

    .deposit-rule-list-wrapper {
        width: 100%;
    }

    .transaction-receipt-container {
        padding: 0px 5px;
    }

    .transaction-receipt-container-rate {

        background-color: transparent;
    }

    .transac-address-wrapper {
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 10px;
    }

    .transac-address-wrapper-link {
        letter-spacing: 0px;
        text-align: center;
    }

    .tansact-reciept-footer p {

        background-color: black;
        display: flex;
        height: auto;
        width: 100%;
        gap: 5px;
        padding: 10px;

        cursor: pointer;
    }

    .tansact-reciept-footer p span {
        font-size: 20px;
        padding: 0px 10px;
        flex-direction: column;
    }

    .depositValue {
        font-weight: bold;
        color: #7c5dc9;
        font-size: 30px;
        line-height: normal;
        position: relative;
    }
}