.financePageWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 40px;
    margin-top: 50px;


    position: relative;
}

.financeHeaderSection {
    width: 80%;
    gap: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    position: relative;
}

.financeHeaderWriteUp {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    height: auto;
    width: 100%;
}

.financeHeaderWriteUp h1 {
    color: white;
    text-transform: uppercase;
}

.financeHeaderWriteUp h1 span {
    background: linear-gradient(to right, rgb(0, 180, 180),
            rgb(128, 240, 128));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.financeHeaderWriteUp p {
    letter-spacing: 2px;
    color: white;
}

.finceLearnMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .4;
    height: 100%;
    padding: 0px 20px;

}


.financeBtn {
    position: relative;
    text-decoration: none;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    align-items: flex-start;
    justify-content: center;
    transition: 500ms all ease;
}

.financeBtn:hover {
    color: black;
}

.financeBtn h3 {
    height: 100%;
    width: 100%;
     padding: 10px 20px;
}
.financeBtn h3:hover {
    color: black;
}
.financeBtn::before {
    transition: 500ms all ease;
    content: "";
    width: 5%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
}

.financeBtn:hover::before {
    width: 100%;
}

.financeCardSection {
    width: 100%;
    height: auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


}

.financeCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    height: 300px;
    width: 100%;

    padding: 40px;

    cursor: pointer;
    border-radius: 20px;
    transition: 500ms all ease;
    background-color: rgba(0, 0, 0, 0.486);
}

.svgWrapper {
    height: 60px;
    width: 100%;

    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.svgWrapper img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: flex;
}

.financeCard h2 {
    font-size: 25px;
    color: #898989;
    font-weight: lighter;
}

.financeCard p {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: lighter;

}

@media screen and (max-width: 900px) {
    .financeHeaderSection {
        flex-direction: column;
    }

    .finceLearnMoreButton {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: unset;
    }

    .financeBtn {
        margin: unset;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .financeCardSection {
        height: auto;
    }

    .financeCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        height: 380px;
        width: 100%;

        padding: 40px;

        cursor: pointer;
        border-radius: 20px;
        transition: 500ms all ease;
        background-color: rgba(0, 0, 0, 0.486);
    }

    .svgWrapper {
        height: 50px;
        width: 100%;

        justify-content: flex-end;
        align-items: center;
        display: flex;
    }

    .svgWrapper img {
        height: 100%;
        width: auto;
        object-fit: contain;
        display: flex;
    }
}