.footerWrapper {
    background-color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    overflow: hidden;
    flex: 1;
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 40px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;


}

.footer-container {
    flex-direction: column;
    width: 100%;
    display: flex;
    margin: auto;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.footerlogoWrapper {
    height: 30px;
    width: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin-right: 5px;
}

.foterLogoHeader {
    font-size: 15px;
    background: linear-gradient(to right, #7c5dc9, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.footerSection {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-evenly;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerHeader {
    color: #fff;
}

.linkWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.footerLink {
    text-decoration: none;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding-bottom: 2px;
    color: rgb(161, 158, 158);
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footerLink:before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #e9e9e9;
    transition: all 500ms ease;
}

.footerLink:hover::before {
    width: 100%;
}

.hr {
    background-color: #ffffff;
    height: 1px;
    width: 100%;
    border: none;
}

.vr {
    background-color: rgb(255, 255, 255);
    height: inherit;
    width: .5px;
    border: none;
}

.subFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footerSocials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footerrights h3 {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: normal;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.footerDisclaimer {
    width: 80%;
    margin: auto;
}

.footerDisclaimer p {
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #aaaaaa;
}

.subFooter {
    width: 90%;
}

@media screen and (max-width:900px) {
    .footerWrapper {
        background-color: #0000007c;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: auto;
        overflow: hidden;
        flex: 1;
        width: 100%;
        height: auto;
        padding: 30px;
        gap: 10px;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .footerSection {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        width: 100%;
        gap: 20px;
        justify-content: space-evenly;
    }

    .hr {
        background-color: #ffffff;
        height: 1px;
        width: 100%;
        border: none;
        margin: 20px 0px;
    }

    .footerDisclaimer {
        width: 100%;
        padding: 5px 0px;
        margin: auto;
    }

    .footerDisclaimer p {
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: #aaaaaa;
        width: 100%;
        display: flex;
    }
}