.m-moreaboutWrapper {
    gap: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0px 10%;
}

.m-headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.m-headerSection h1 {
    text-transform: capitalize;

    background: linear-gradient(to bottom right,
            lightgreen,
            teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-weight: bold;
    display: flex;
    flex: 1;
}

.m-learnMoreBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.m-learnMoreBtn button {
    border: none;
    display: flex;
    position: relative;
    background-color: transparent;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    color: black;
    transition: 500ms all ease;
}

.m-learnMoreBtn button:hover {
    color: white;
}

.m-learnMoreBtn button h3 {
    margin: 5px 20px;
    z-index: 1;
}

.m-learnMoreBtn button::before {
    background-color: black;
    position: absolute;
    content: "";
    height: 100%;
    width: 3%;
    transition: 500ms all ease;
}

.m-learnMoreBtn button:hover::before {
    width: 100%;
}


.m-contentWrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
    height: auto;
    gap: inherit;
    flex-wrap: wrap;
}

.m-card {
    flex-direction: column;
    display: flex;
    gap: inherit;
    margin: auto;
    padding: 20px;
    height: 300px;
    flex: 1;
}

.m-headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    gap: 20px;
}

.m-headerWrapper .iconWrapper {
    height: auto;
    width: auto;
    padding: 15px;
    border: 1px solid lightgreen;
    color: lightgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:900px) {
    .m-moreaboutWrapper {
        gap: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 0px 5%;
    }

    .m-contentWrapper {
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: auto;
        height: auto;
        gap: 20px;
        flex-wrap: wrap;

    }


    .m-card {
        flex-direction: column;
        display: flex;
        gap: inherit;
        margin: auto;
        padding: 10px;
        height: auto;
        flex: 1;

    }
















}