.subHeader-wrapper {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
    height: 55vh;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom right,
            rgb(73, 223, 73), rgb(76, 201, 250));
}

.sh-writeUp {
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-bottom: 5%;
    padding-left: 5%;
}

.sh-writeUp h4 {
    font-size: 30px;
}

.sh-writeUp h1 {
    font-size: 50px;
}

.sh-imageWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.692));
}

.sp-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.sh-imageWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    bottom: 0px;
    opacity: .5;
}

@media screen and (max-width:900px) {
    .subHeader-wrapper {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        align-items: flex-end;
        justify-content: flex-start;
        display: flex;
        height: 30vh;
        border-radius: 0px 0px 20px 20px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(to bottom right,
                rgb(73, 223, 73), rgb(76, 201, 250));
    }

    .sh-writeUp {
        color: white;
        gap: 10px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        padding: 20px;
    }

    .sh-writeUp h4 {
        font-size: 20px;
        width: 100%;
    }

    .sh-writeUp h1 {
        width: 100%;
        font-size: 30px;
    }
}