.suplanWrapper {
    width: 100%;
    height: auto;
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    flex-direction: column;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.planTypeBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 5px;
 }



.paymentCards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,
            1fr);
    width: 100%;
    justify-content: space-evenly;
}

.paymentCard {
    background-color: #000000a1;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    gap: 10px;
    padding: 30px 0px;

    border-radius: 20px;
}

.paymentCard h1 {
    width: 100%;
    text-align: center;
    color: #898989;
    font-weight: lighter;
}

.pips {
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom right, #7c5dc9, teal);
    width: 100%;
    color: white;

    border-radius: 10px 0px 10px 0px;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;


    color: #898989;
}

.gh3 {

    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #7c5dc9,
            teal);
    border-image-slice: 1;
    text-decoration: none;
    position: relative;
    transition: 500ms all ease;
}

.p-gh3 {
    background: linear-gradient(to right, #7c5dc9, teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 2;
    padding: 10px 20px;

}


.gh3::before {
    content: "";
    position: absolute;
    width: 5%;
    height: 100%;
    background: linear-gradient(to right, #7c5dc9, skyblue);
    transition: 500ms all ease;
}

.gh3:hover::before {
    width: 100%;
}

@media screen and (max-width:900px) {
    .paymentCards {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1,
                1fr);
        width: 100%;
        justify-content: space-evenly;
    }
}