.widgetWrapper {
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.tradingview-widget-copyright {
    display: none;
}

@media screen and (max-width:900px) {
    .widgetWrapper {
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }

}