.controlNav {
    display: flex;
    height: 100vh;
    width: 30%;
    background-color: #050505;
    justify-content: space-between;
    align-items: flex-start;

    position: absolute;
    flex-direction: column;
    transition: 350ms all ease-in-out;

    top: 0px;

}

.isNavWrapper {
    border: none;
}

.control-navBtn {
    height: 100px;
    width: 100%;

    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    display: flex;
}

.control-navBtn button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #2d2d2d;
    outline: none;
    padding: 5px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    transform: translateX(100%);
    justify-content: center;
    align-items: center;
}

.lines-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    align-items: center;
    justify-content: center;
    display: flex;
    /* overflow: hidden; */
    transition: 350ms all ease-in-out;
}

isLinesHeight {
    height: 100%;
    background-color: green;
}

.control-navBtn .line1 {
    transition: 500ms all ease-in-out;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: red;
    top: 0px;
    content: "";
}

.isline1 {
    transform: rotate(45deg);
    margin: auto;
    bottom: 0px;
    top: 0px;
}

.control-navBtn .line2 {
    transition: 500ms all ease-in-out;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: green;
    bottom: 0px;
    content: "";
}

.isline2 {
    transform: translateX(-150%);
    margin: auto;
    bottom: 0px;

}

.control-navBtn .line3 {
    transition: 500ms all ease-in-out;
    background-color: yellow;
    position: relative;
    height: 2px;
    width: 100%;
    bottom: 0px;
    top: 0px;
    content: "";
}

.isline3 {
    transform: rotate(-45deg);
    margin: auto;
    bottom: 0px;
    top: 0px;
}


/* _______________________________________________________ */

.control-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: 350ms all ease-in-out;


    overflow: hidden;
}

.isActive {
    width: 0%;
    border: none;
}

.control-links-button {
    gap: 30px;
    flex: 1;
    width: 70%;
    display: flex;
    flex-direction: column;



}

.control-auth-btn-wrapper {
    background-color: darkmagenta;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.control-auth-btn-wrapper button {
    background-color: aqua;
    display: flex;
    width: 50%;
    height: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    bottom: 0px;

    cursor: pointer;
}

/* _________________________________________ */


@media screen and (max-width:900px) {
    .control-links {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 350ms all ease-in-out;


        overflow: hidden;
    }

    .control-links-button {
        padding-top: 30%;
        gap: 30px;
        flex: 1;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .control-link {
        width: 100%;
        display: flex;
        padding: 20px;
    }

    .controlNav {
        display: flex;
        height: 100vh;
        width: 300px;
        background-color: rgb(32, 32, 32);
        justify-content: space-between;
        align-items: flex-start;


        position: absolute;
        flex-direction: column;
        transition: 350ms all ease-in-out;
    }

    .isActive {
        width: 0px;
    }
}